/* [do] 공통 */

body {
	margin: 0;
}

.container {
	margin: 5px;
}





.greater-than {
  color: rgba(122, 112, 186, 0.7);
  font-size: 20px;
}

.do-p-darkgray {
	color: #5b5b5b;
	margin: 0;
}
.do-bold {
	font-weight: bold;
}
.do-p-white {
	color: white;
}
.do-eclipse {
	white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 설정 */
    overflow: hidden; /* 넘친 내용을 숨기도록 설정 */
    text-overflow: ellipsis; /* 넘친 부분을 ...으로 표시 */
}






.do-overflow {
	max-height: 450px;
	overflow-y: auto;
}








/* 테이블 */
.do-table {
	text-align: center; 
    vertical-align: middle; 
}





/* radio 버튼 색상 변경 */
/* 라디오 버튼 숨기기 */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc; /* 경계선 색상 */
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* 라디오 버튼 선택시 스타일 */
input[type="radio"]:checked {
}

/* 선택된 라디오 버튼 안의 동그라미 표시 */
input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(41 41 41); /* 내부 동그라미 색상 */

    transform: translate(25%, 25%);
}
