<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.api.project.dao.BidDAO">

	
	<!-- 소방, 전기, 통신 감리 입찰공고 저장 -->
	<insert id="insertBid" parameterType="bidInfo">
	    INSERT INTO bid (
	        asignBdgtAmt, bidBeginDate, bidBeginTm, bidClseDate, 
	        bidClseTm, bidNtceBgn, bidNtceDate, bidNtceNm, 
	        bidNtceNo, bidNtceOrd, bidNtceSttusNm, bidNtceUrl, 
	        bidPrtcptQlfctRgstClseDate, bidPrtcptQlfctRgstClseTm, 
	        bidprcPsblIndstrytyNm, bidwinrDcsnMthdNm, bsnsDivNm, 
	        cmmnCntrctYn, cmmnReciptAgrmntClseDate, cmmnReciptAgrmntClseTm, 
	        cmmnReciptMethdNm, cntrctCnclsMthdNm, cntrctCnclsSttusNm, 
	        dataBssDate, dmndInsttCd, dmndInsttNm, dmndInsttOfclDeptNm, 
	        dmndInsttOfclEmailAdrs, dmndInsttOfclNm, dmndInsttOfclTel, 
	        elctrnBidYn, indstrytyLmtYn, intrntnlBidYn, ntceInsttCd, 
	        ntceInsttNm, ntceInsttOfclDeptNm, ntceInsttOfclEmailAdrs, 
	        ntceInsttOfclNm, ntceInsttOfclTel, opengDate, opengPlce, 
	        opengTm, ppsNtceYn, presmptPrce, presnatnOprtnDate, 
	        presnatnOprtnPlce, presnatnOprtnTm, presnatnOprtnYn, prtcptPsblRgnNm, 
	        refNtceNo, refNtceOrd, rgnLmtYn, rsrvtnPrceDcsnMthdNm) 
	    VALUES (
	        #{asignBdgtAmt}, #{bidBeginDate}, #{bidBeginTm}, #{bidClseDate}, 
	        #{bidClseTm}, #{bidNtceBgn}, #{bidNtceDate}, #{bidNtceNm}, 
	        #{bidNtceNo}, #{bidNtceOrd}, #{bidNtceSttusNm}, #{bidNtceUrl}, 
	        #{bidPrtcptQlfctRgstClseDate}, #{bidPrtcptQlfctRgstClseTm}, 
	        #{bidprcPsblIndstrytyNm}, #{bidwinrDcsnMthdNm}, #{bsnsDivNm}, 
	        #{cmmnCntrctYn}, #{cmmnReciptAgrmntClseDate}, #{cmmnReciptAgrmntClseTm}, 
	        #{cmmnReciptMethdNm}, #{cntrctCnclsMthdNm}, #{cntrctCnclsSttusNm}, 
	        #{dataBssDate}, #{dmndInsttCd}, #{dmndInsttNm}, #{dmndInsttOfclDeptNm}, 
	        #{dmndInsttOfclEmailAdrs}, #{dmndInsttOfclNm}, #{dmndInsttOfclTel}, 
	        #{elctrnBidYn}, #{indstrytyLmtYn}, #{intrntnlBidYn}, #{ntceInsttCd}, 
	        #{ntceInsttNm}, #{ntceInsttOfclDeptNm}, #{ntceInsttOfclEmailAdrs}, 
	        #{ntceInsttOfclNm}, #{ntceInsttOfclTel}, #{opengDate}, #{opengPlce}, 
	        #{opengTm}, #{ppsNtceYn}, #{presmptPrce}, #{presnatnOprtnDate}, 
	        #{presnatnOprtnPlce}, #{presnatnOprtnTm}, #{presnatnOprtnYn}, #{prtcptPsblRgnNm}, 
	        #{refNtceNo}, #{refNtceOrd}, #{rgnLmtYn}, #{rsrvtnPrceDcsnMthdNm})
	</insert>
	
	
	<!-- 리스트 -->
	<select id="bidList" resultType="bidInfo">
		SELECT *
		FROM bid	
		ORDER BY bidNtceDate DESC
	</select>
	<select id="bidListCnt" resultType="Integer">
		SELECT COUNT(*)
		FROM bid	
		ORDER BY bidNtceDate DESC
	</select>
	
	
	<!-- 필터링에 따른 입찰공고 리스트 -->
	<select id="filterBidList" parameterType="filter" resultType="bidInfo">
		SELECT * 
		FROM bid
		<where> 1=1
			<if test="supervisorType == 'all'">
			</if>
			<if test="supervisorType == 'fire'">
				AND bidNtceNm LIKE CONCAT('%', '소방', '%')
			</if>
			<if test="supervisorType == 'electric'">
				AND bidNtceNm LIKE CONCAT('%', '전기', '%')
			</if>
			<if test="supervisorType == 'communi'">
				AND bidNtceNm LIKE CONCAT('%', '통신', '%')
			</if>
			<if test="strDate != ''">
				AND (STR_TO_DATE(bidClseDate, '%Y-%m-%d') BETWEEN #{strDate} AND #{endDate})
			</if>
			<if test="dateLimit == 'true'">
				AND STR_TO_DATE(bidClseDate, '%Y-%m-%d') >= CURDATE() + INTERVAL 1 DAY
			</if>
			<if test="regionLimit == 'true'">
				AND prtcptPsblRgnNm = ''
			</if>
			<if test="togetherLimit == 'true'">
				AND cmmnReciptMethdNm = '공동수급불허'
			</if>
		</where>
		ORDER BY 
		    <choose>
		        <when test="array == 'basic'">
		            bidNtceDate DESC , bidNtceBgn DESC
		        </when>
		        <when test="array == 'end'">
		            bidClseDate ASC, bidClseDate DESC
		        </when>
		        <when test="array == 'high'">
		            asignBdgtAmt DESC
		        </when>
		        <otherwise>
		            asignBdgtAmt ASC
		        </otherwise>
		    </choose>
	</select>
	<!-- 필터링한 공고 개수 -->
	<select id="filterBidListCnt" resultType="Integer">
		SELECT COUNT(*)
		FROM bid	
		<where> 1=1
			<if test="supervisorType == 'all'">
			</if>
			<if test="supervisorType == 'fire'">
				AND bidNtceNm LIKE CONCAT('%', '소방', '%')
			</if>
			<if test="supervisorType == 'electric'">
				AND bidNtceNm LIKE CONCAT('%', '전기', '%')
			</if>
			<if test="supervisorType == 'communi'">
				AND bidNtceNm LIKE CONCAT('%', '통신', '%')
			</if>
			<if test="strDate != ''">
				AND (STR_TO_DATE(bidClseDate, '%Y-%m-%d') BETWEEN #{strDate} AND #{endDate})
			</if>
			<if test="dateLimit == 'true'">
				AND STR_TO_DATE(bidClseDate, '%Y-%m-%d') >= CURDATE() + INTERVAL 1 DAY
			</if>
			<if test="regionLimit == 'true'">
				AND prtcptPsblRgnNm = ''
			</if>
			<if test="togetherLimit == 'true'">
				AND cmmnReciptMethdNm = '공동수급불허'
			</if>
		</where>
	</select>
	
	
	
	
	<!-- 새로운 입찰 공고 (메일로 발송해야 할) -->
	<select id="newBid" resultType="bidInfo">
		SELECT bidNtceNm, asignBdgtAmt, bidNtceDate, bidBeginDate, bidClseDate, cmmnReciptMethdNm, bidNtceUrl
		FROM bid 
		WHERE send = 'N' 
		LIMIT 1
	</select>
	
	<!-- 새로운 입찰 공고 개수 -->
	<select id="newBidCnt" resultType="Integer">
		SELECT COUNT(*)
		FROM bid 
		WHERE send = 'N'
	</select>
	<!-- 새로운 입찰 공고 리스트 -->
	<select id="newBidList" resultType="bidInfo">
		SELECT bidNtceNm, asignBdgtAmt, bidNtceDate, bidBeginDate, bidClseDate, cmmnReciptMethdNm, bidNtceUrl, idx
		FROM bid 
		WHERE send = 'N'
				AND (prtcptPsblRgnNm = '' or prtcptPsblRgnNm = '경기도')
	</select>
	
	<!-- 메일 전송 완료하였으면 send 컬럼을 Y로 업데이트. -->
	<update id="updateBid">
		UPDATE bid
		SET send = 'Y'
		WHERE idx = #{param1}
	</update>
	
	
	
</mapper>